* {
  margin: 0;
  padding: 0;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
}

.card__img {
  padding: 20px;
  width: 260px;
  height: 150px;
  background-color: #B1B4CE ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.card__title {
  margin: 5px 10px;
}

.card__desc {
  margin: 5px 10px;
  color: #545454;
}