body{
    display: block;
}

.container{
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.rec_productContainer{    
    margin: auto;
    position: relative;
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    // max-width: 750px;
    width: 100%;
    height: 450px;
    background:rgba(255, 255, 255, 0.1);
}

.rec_productContainer .imgContainer {
    margin: 10px;
}

.rec_productContainer .imgContainer .rec_Product{
    // position:absolute;
    // top: 30%;
    // right: 5%;
    // display: flex;
    // flex-wrap: wrap;
    transform: rotate(-30deg);
    width: 100%;
    margin-right: 10px;
    max-width: 300px;
}

.rec_productInfo .mainrec_Name{
    padding-left: 30px;
    padding-top: 20px;
    width: 300px;
    font-size: 3.5rem;
    color: rgb(255, 148, 56);
}

.rec_productInfo .mainrec_Price{
    padding-left: 30px;
    font-size: 2.5rem;
    color: rgb(255, 195, 115);
}

.rec_productInfo .mainrec_Button{
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 10px;
    padding: 10px;
    width: 140px;
    background:rgba(255, 255, 255, 0.1);
}