.container {
  padding: 30px 30px;
}

.side__title {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.main__title {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.main__product {
  margin: 10px;
}
