$title-text-color:lighten(#A5A8B1, 20%);
$label-text-color: #A5A8B1;
$input-text-color: lighten(#A5A8B1, 25%);
$background-color: #2E3749;

@mixin label() {
    display: block;
    color: $label-text-color;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

@mixin input() {
    background-color: $background-color;
    color: $input-text-color;
    font-size: 1.4em;
    font-family: 'Roboto';
    border: none;
    border-bottom: 1px solid $title-text-color;
    line-height: 1.7em;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: block;
}

.payment {
    border: 1px solid green;
    display: flex;
    justify-content: space-evenly;
    padding: 3em 0;
    &__show-list {
        border: 1px solid red;
        width: 35%;
        height: 500px
    }
    &__panels {
        display: flex;
        justify-content: space-around;
        width: 55%;
    }
    &__checkout-panel {
        background-color: $background-color;
        width: 32%;
        padding: 3em 3.5em;
        border-radius: 10px;
        box-shadow: 0px 9px 9px #2E3749;
    }
    &__title {
        color: $title-text-color;
        font-weight: 600;
        font-size: 2.2em;
        letter-spacing: 2px;
        margin-bottom: 2.5em;
    }
    &__detail {
        margin-bottom: 1.5em;
        label {
            @include label();
        }
        input {
            @include input();
            width: 100%
        }
    }
    &__details--basic {
        margin-bottom: 4em;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.2em;
    }
    &__region {
        width: 40%;
        label {
            @include label();
        }
        select {
            @include input();
            font-size: 1.2em;
            width: 100%;
        }
    }
    &__checkout-button {
        margin-top: 3em;
    }
    &__detail-card {
        border-bottom: 1px solid $title-text-color;
        padding-bottom: 0.5em;
    }
}

@media screen and (max-width: 1170px) {
    .payment {
        
        display: block;
    }

    .payment__show-list {
        width: 90%;
        margin: 3em auto;
    }

    .payment__panels {
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }


    .payment__title {
        font-size: 1.7em;
    }

    .payment__detail {
        label {
            font-size: 1.1em;
        }
        input {
            font-size: 1.2em;
        }
    }

    .payment__region {
        label {
            font-size: 1.1em;
        }
        select {
            font-size: 0.95em;
        }
    }
}

@media screen and (max-width: 750px) {
    .payment__panels {
        display: block;
        width: 80%;
    }

    .payment__show-list {
        width: 80%;
        margin: 3em auto;
    }

    .payment__checkout-panel {
        padding: 1em 1.5em;
        margin: 3em auto;
        width: 85%;
    }

    .payment__title {
        font-size: 1.4em;
    }

    .payment__detail {
        label {
            font-size: 0.9em;
        }
        input {
            font-size: 1.0em;
        }
    }

    .payment__region {
        label {
            font-size: 0.9em;
        }
        select {
            font-size: 0.8em;
        }
    }

    .payment__checkout-button {
        font-size: 0.8em;
    }
}