.navContainer{
    display:flex;
    justify-content: space-around;
    align-content: center;
    align-items:center;
    background-color: rgb(250, 249, 249) ;
}
.rightContainer{
    display:flex;
    align-items:center;
    align-content: center;
}

.logo{
    width:5vh;
}

.icon{
    display:inline-block;
    height:24px;
}
.empty{
    width:4vh
}

.empty2{
    width:1vh
}