.navLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

/********** navbar top **********/

.navbar__top {
  position: relative;
  background: #f5f5f5;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 38px;
}

.navbar__top__item {
  padding: 0 12px 0 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &:hover {
    color: #757575;
    cursor: pointer;
  }
}

/********** navbar bottom **********/

.navbar__bottom {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 38px;
  background-color: white;
}

/********** logo **********/

.logo__section {
  height: 100%;
  flex: 1;

  .logo {
    height: 100%;
  }
}

/********** main menu **********/

.menu__section {
  flex: 2;
}

.menuList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

  a {
    color: #111;
    &:hover {
      text-decoration: none;
    }
  }
}

.menuLink {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 12px 16px 12px;

  &:hover {
    border-bottom: 3px solid #111;
    cursor: pointer;
  }
}

.joinMessage {
  display: none;
}

/********** sub Menu **********/

.subMenuWrapper {
  padding: 16px 40px 40px 40px;
  position: absolute;
  z-index: 3;
  background-color: #fff;
  right: 0px;
  top: 96px;
  min-height: 100px;
  width: 100%;
}

.subMenuList {
  display: flex;
  justify-content: space-around;
  padding: 16px 8px 0 8px;
  list-style-type: none;

  a {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
    color: #111;
  }
}

#subMenuOne,
#subMenuTwo,
#subMenuThree {
  visibility: hidden;
  transform: translateY(0%);
}

#menuOne:hover #subMenuOne,
#menuTwo:hover #subMenuTwo,
#menuThree:hover #subMenuThree {
  visibility: visible;
  transition: visibility 0ms linear 0.1s;
  backdrop-filter: blur(4px);

  ul {
    opacity: 1;
    transform: translateY(10%);
    transition: transform 0.3s ease, opacity 0.2s linear;
    transition-delay: 0.1s;
  }
}

/********** cart and burger icon **********/

.icon__section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    padding: 8px;
    height: 42px;
    width: 42px;
    margin-left: 5px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: #e5e5e5;
      border-radius: 50%;
    }
  }
}

.burgerMenu {
  border: none;
  padding: 8px;
  height: 42px;
  width: 42px;
  background-color: #fff;
  display: none;
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
    border-radius: 50%;
  }
}

/********** banner **********/

.banner__section {
  height: auto;
  min-height: 58px;
  transition: all 0.5s;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  position: relative;
  background: #f5f5f5;
  overflow: hidden;
  padding-top: 10px;
}

/********** blur mask **********/

.blurMask {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.blurMaskClosed {
  visibility: hidden;
  z-index: 3;
}

.blurMaskOpen {
  backdrop-filter: blur(4px);
  visibility: visible;
  z-index: 1;
}

.blurMaskHover {
  height: 100%;
  width: 100vw;
  position: absolute;
  backdrop-filter: blur(4px);
  visibility: visible;
  z-index: 0;
  // background-color: red;
}

.blurMaskUnHover {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 3;
  backdrop-filter: blur(4px);
  visibility: hidden;
}

/********** tablet and mobile **********/

@media screen and (max-width: 1024px) {
  .menu__section {
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 320px;
    top: 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: -1px 0px 5px 0 #e5e5e5;
    padding: 0 36px 100px 36px;
    z-index: 2;
  }

  .menuList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 26px;
  }

  .menuLink {
    font-size: 24px;

    &:hover {
      border-bottom: none;
    }
  }

  .menuSectionClosed {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .menuSectionOpen {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  #menuOne,
  #menuTwo,
  #menuThree {
    padding: 10px 0;
    position: relative;
    width: 100%;

    a:first-child {
      &::after {
        content: '>';
        font-size: 20px;
        font-weight: 400;
        position: absolute;
        right: 0;
        top: 12px;
      }
    }
  }

  .subMenuWrapper {
    display: none;
  }

  .burgerMenu {
    display: block;
  }

  .joinMessage {
    display: block;
    font-size: 20px;
    color: #757575;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0px 0px 16px 0px;
    font-weight: 500;

    a {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      cursor: pointer;
    }
  }

  .blurMaskHover,
  .blurMaskUnHover {
    display: none;
  }
}
