.searchContainer{
    display:flex;
    position: relative;
    border-radius:10px;
    background-color: rgb(243, 237, 237);
    padding-right:10px;
}
.searchContainer_inputBox{
    border-style:none;
    outline:none;
    background-color: rgb(243, 237, 237);
}

.searchContainer_icon{
    display:inline-block;
    height:24px;
}

