.homeContainer{
    // background-image:url('./4.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
    height:94.3vh;
}

.homeContainer__productBigBox{
    position:absolute;
    width:50%;
    height:50%;
    top:10%;
    left:10%;
    border:solid;
}

.homeContainer__slide{
    position:absolute;
    bottom:5vh;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.scroller{
    display:flex;
}

.productInfo{
    display:flex;
    width:25vh;
    height:13vh;
    align-items:center;
    margin-left:3vh;
    border-radius:15px;
    overflow: hidden;
    background-color:rgb(248, 245, 245);
}

.productInfo__img_container{
    display:flex;
    direction:column;
    align-items: center;
    position:relative;
    background-color:rgb(163, 218, 163);
    width:35%;
    height:100%;
}

.productInfo__img_container img{
    position:absolute;
    width:100%;
}
.productInfo__text_container{
    width:100%;
    display:flex;
    position:relative;
    align-items: center;
    height:100%;
    padding-left:1vh;
}
.productInfo__text{
    width:100%;
    // text-align:center;
    position:absolute;
}

.productInfo__addBag{
    position:absolute;
    bottom:0px;
    right:0px;
    border-radius:10px 0px 10px 0px;
    box-shadow:#666 0px 0px 4px;
}



